// COLORS
$black:   #333;
$blue:    #2192b0;


// TYPOGRAPHY
$base: 16px;
$b: $base;

$body-font: Verdana, Arial, sans-serif;
$header-font: Georgia, 'Times New Roman', serif;


// MEDIA QUEIRES
$q-zero: 0px;
$q-small: 500px;
$q-medium: 700px;
$q-large: 900px;
$q-xlarge: 1040px;
$max-width: 1200px;
