//Variable Demo
////Color
.color-swatch {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  @include border-radius(10px);
  @include box-shadow(3px, 10px, #ee00bb);
}

.primary-color {
  background-color: $primary-color;
}

.secondary-color {
  background-color: $secondary-color;
}

.tertiary-color {
  background-color: $tertiary-color;
}

//Type
p {
  font-family: $body-type;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  @include serif();
}

//Spacing
.spacing-top {
  margin-top: $b;
}


//Nesting
/*
Part One:
Write the following styles. Use Nesting!
- Remove all padding and margin from <ul>s
- Make <li> display inline-block
- Change the color of the <a>s
- Change the hover of the <a>s
*/
ul {
  padding: 0;
  margin:0;

   li {
     display: inline-block;
     @extend p;

      a {
        color: $primary-color;

        @media screen and (min-width: $q-medium){
          color: $tertiary-color;
        }

        &:hover {
          color: $secondary-color;
        }
      }

   }
}

/*
Part Two:
Write a nested media query (using a variable for the max or min size) changing the color of the links
*/


//Extend
//Extend paragraph styles to list items
