// COLORS
$primary-color:       #e776f5;
$secondary-color:     #17d024;
$tertiary-color:      #ff0000;


// TYPOGRAPHY
$body-type: Verdana, Arial, sans-serif;
$heading-type: Impact, sans-serif;

//Grid
$b: 14px;


//Media queries
$q-medium: 600px;
