// COLORS
$black:         #222222;
$black-alpha:   rgba(34, 34, 34, 0.9);
$gray-dark:     #3f3b3b;
$gray-alpha:    rgba(64, 61, 64, 0.75);
$blue-light:    #8B9CB2;
$blue-dark:     darken($blue-light, 20%);
$green-light:   #C8CABF;
$green-medium:  #CCE0B4;
$green-dark:    saturate($green-light, 20%);
$tan:           #D7CDBB;
$tan-dark:      #AF9B77;
$rose:          #CEAD9D;
$rose-dark:     darken($rose, 5%);
$mauve:         #D0BDC0;
$mauve-dark:    darken($mauve, 35%);
$white:         #FFF;


// TYPOGRAPHY
$base: 16px;
$b: $base;

$body-font: Verdana, Arial, sans-serif;
$header-font: Georgia, 'Times New Roman', serif;


// MEDIA QUEIRES
$q-zero: 0px;
$q-small: 500px;
$q-medium: 700px;
$q-large: 900px;
$q-xlarge: 1040px;
$max-width: 1200px;
